
<div *ngIf="data" class="table table-responsive">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <h3> Event Logs</h3>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning" (click)="exporttoexcel()">export to excel</button>
        </div>
        <div class="col-md-4">
          <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" />
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped" [mfData]="data | generalFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
         [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
    <tr>
      <th style="width: auto">
        Index
      </th>
      <th style="width: auto">
        <mfDefaultSorter by="Category">Category</mfDefaultSorter>
      </th>
      <th style="width: auto">
        <mfDefaultSorter by="CustomerId">CustomerId</mfDefaultSorter>
      </th>
      <th style="width: auto">
        <mfDefaultSorter by="Date">Date</mfDefaultSorter>
      </th>
      <th style="width: auto">
        <mfDefaultSorter by="Event">Event</mfDefaultSorter>
      </th>
      <th style="width: auto">
        <mfDefaultSorter by="LoggedInUser">LoggedInUser</mfDefaultSorter>
      </th>

    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of mf.data; let i = index">

      <tr>
        <td>{{i+1}}</td>
        <td>{{item.Category}}</td>
        <td>{{item.CustomerId}}</td>
        <td>{{item.Date}}</td>
        <td>{{item.Event}}</td>
        <td>{{item.LoggedInUser}}</td>
      </tr>

    </ng-container>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="12">
        <mfBootstrapPaginator [rowsOnPageSet]="[100,500]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
