<!--OPTIONS HERE -->
<div *ngIf="showOptionsDiv" class="option_modal">
  <button class="btn btn-danger" (click)="deleteRecord()">Delete Record</button>
  <button class="btn btn-primary" (click)="showOptionsDiv = !showOptionsDiv">cancel</button>
</div>

<div *ngIf="data" class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <H3>MPESA PAYMENTS</H3>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-warning" (click)="exporttoexcel()">export to excel</button>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
            <h4><span class="label label-success">Total: {{sum1 | currency:'KSH':true}}</span></h4>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" (keyup)="changesum()" />
                </div>
            </div>

            <div class="table table-responsive scroll3">
                <table class="table table-striped" [mfData]="data | generalFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                    [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th style="width: auto">
                                Index
                            </th>
                            <th style="width: auto">
                                <mfDefaultSorter by="Date">Customer_Id</mfDefaultSorter>
                            </th>
                            <th style="width: auto">
                                <mfDefaultSorter by="Reference">Customer_Name</mfDefaultSorter>
                            </th>
                            <th style="width: auto">
                                <mfDefaultSorter by="Amount">Date</mfDefaultSorter>
                            </th>
                            <th style="width: auto">
                                <mfDefaultSorter by="Number">Reference</mfDefaultSorter>
                            </th>
                            <th style="width: auto">
                                <mfDefaultSorter by="Message">Amount</mfDefaultSorter>
                            </th>
                            <th style="width: auto">
                                <mfDefaultSorter by="Message">Recorded By</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container *ngFor="let item of mf.data; let i = index">
                            <tr (click)="setIdToDelete(item.Id, item.Customer_Name)">
                                <td>{{i+1}}</td>
                                <td>{{item.Customer_Id}}</td>
                                <td>{{item.Customer_Name}}</td>
                                <td>{{item.Date}} </td>
                                <td>{{item.Reference}}</td>
                                <td>{{item.Amount}}</td>
                                <td>{{item.RecordedBy}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12">
                                <mfBootstrapPaginator [rowsOnPageSet]="[100,500]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
