<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#0">Perfomance</a></li>
  <li><a data-toggle="tab" href="#1">Mpesa Records</a></li>
  <li><a data-toggle="tab" href="#2">Payments</a></li>
  <li><a data-toggle="tab" href="#3">Bad debts</a></li>

</ul>

<div class="tab-content">
  <div id="0" class="tab-pane fade in active">
    <app-payments></app-payments>
  </div>
  <div id="1" class="tab-pane fade">
    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#10">Processed Mpesa</a></li>
      <li><a data-toggle="tab" href="#11">Unprocessed Mpesa</a></li>
    </ul>
    <div class="tab-content">
      <div id="10" class="tab-pane fade in active">
        <app-mpesa-payments></app-mpesa-payments>
      </div>
      <div id="11" class="tab-pane fade">
        <app-unprocessed-mpesa></app-unprocessed-mpesa>
      </div>
    </div>
  </div>
  <div id="2" class="tab-pane fade">
    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#12">Cash</a></li>
      <li><a data-toggle="tab" href="#13">Mpesa</a></li>
      <li><a data-toggle="tab" href="#14">Bank</a></li>
    </ul>
    <div class="tab-content">
      <div id="12" class="tab-pane fade in active">
        <app-cash-records></app-cash-records>
      </div>
      <div id="13" class="tab-pane fade">
        <app-mpesa-records></app-mpesa-records>
      </div>
      <div id="14" class="tab-pane fade">
        <app-bank-records></app-bank-records>
      </div>
    </div>
  </div>
  <div id="3" class="tab-pane fade">
    <app-baddebts></app-baddebts>
  </div>

</div>