<app-loading-snipper>
</app-loading-snipper>

<div *ngIf="openModalWindow">
  <app-image-modal [Cdata]="imagePointer"></app-image-modal>
</div>

<div style="margin-top:1cm" *ngIf="!showlinkbutton" class="col-sm-10">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">EXPENSE CATEGORY</label>

    <div class="col-sm-10">
      <select class="form-control input-sm" [(ngModel)]="category">
            <ng-container *ngFor="let item of data1">
               <option [ngValue] =item.Name>{{item.Name}}</option>
            </ng-container>                               
        </select>
    </div>

  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">AMOUNT</label>
    <div class="col-sm-10">
      <input [(ngModel)]="amount" type="text" class="form-control" placeholder="AMOUNT">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">RECIPIENT</label>
    <div *ngIf="userNames" class="col-sm-10">
      <ng2-completer class="form-control" [(ngModel)]="recepient" placeholder="RECIPIENT" [datasource]="userNames" [minSearchLength]="0"
        [clearSelected]="false" [textSearching]=""></ng2-completer>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">VENDOR</label>
    <div class="col-sm-10">
      <input [(ngModel)]="vendor" type="text" class="form-control" placeholder="VENDOR">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">DATE</label>
    <div class="col-sm-10">
      <input [(ngModel)]="date1" type="date" id="myDate" value="2014-02-09">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">ACCOUNT</label>
    <div class="col-sm-10">
      <select class="form-control input-sm" [(ngModel)]="account">
                    <option [ngValue]="OfficeMpesa">Office Mpesa</option>
                    <option [ngValue]="EquityBank">Equity Bank</option>
                    <option [ngValue]="OfficePettyCash">Office Petty Cash</option>
                </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">TRANSACTION CODE</label>
    <div class="col-sm-10">
      <input [(ngModel)]="code" type="text" class="form-control" placeholder="TRANSACTION CODE">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Receipt Image</label>
    <div class="col-sm-10">
      <input type="file" id="filePicker" (change)="handleFileSelect($event)">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary" (click)="submitData()">SUBMIT</button>
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-warning" (click)="CANCEL()">CANCEL</button>
    </div>
  </div>
</div>

<div *ngIf="showlinkbutton" class="col-sm-10">

  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-7">
      <button type="submit" class="btn btn-primary" (click)="Fshowlinkbutton()">ADD NEW EXPENSE</button>
    </div>
  </div>
</div>

<div *ngIf="data">

  <div class="panel panel-primary">

    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <h3> Expenses</h3>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-warning" (click)="exporttoexcel()">export to excel</button>

        </div>
        <div class="col-md-4">
          <input class="form-control" [(ngModel)]="filterQuery" placeholder="Search" (keyup)="changesum()" />
        </div>
        <div class="col-md-2">
          <h4> <span class="label label-primary">Total {{sum1| currency:'KSH':true }}</span></h4>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 600px; overflow-y: scroll" class="table table-responsive">
    <table class="table table-striped" [mfData]="data | generalFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
      [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
        <tr>
          <th style="width: auto">
            Index
          </th>
          <th style="width: auto">
            <mfDefaultSorter by="Description">Description</mfDefaultSorter>
          </th>
          <th style="width: auto">
            <mfDefaultSorter by="Amount">Amount</mfDefaultSorter>
          </th>
          <th style="width: auto">
            <mfDefaultSorter by="Recipient">Recipient</mfDefaultSorter>
          </th>
          <th style="width: auto">
            <mfDefaultSorter by="vendor">Vendor</mfDefaultSorter>
          </th>
          <th style="width: auto">
            <mfDefaultSorter by="Date">Date</mfDefaultSorter>
          </th>
          <th style="width: auto">
            <mfDefaultSorter by="Account">Account</mfDefaultSorter>
          </th>
          <th style="width: auto">
            <mfDefaultSorter by="RefCode">RefCode</mfDefaultSorter>
          </th>
          <th style="width: auto">
            <mfDefaultSorter by="Image">Receipt</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of mf.data; let i = index">
          <tr>
            <td>{{i+1}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.Amount}}</td>
            <td>{{item.Recipient}}</td>
            <td>{{item.vendor}}</td>
            <td>{{item.Date}}</td>
            <td>{{item.Account}}</td>
            <td>{{item.RefCode}}</td>
            <td *ngIf="item.Image==1"><button class="btn btn-warning" (click)="OpenImageModel(item.Id)">Receipt</button></td>
            <td *ngIf="item.Image==0"><button class="btn btn-info">No Receipt</button></td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="12">
            <mfBootstrapPaginator [rowsOnPageSet]="[100,500]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>