<ul class="nav sidebar-nav">

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-eye-open"></span>OVERVIEW<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a [routerLink]="['summarytabs']">Summary Reports</a></li>
      <li><a [routerLink]="['map']">Map & Inventory</a></li>
    </ul>
  </li>

  <!-- </ul>-->
  <!--<ul class="nav nav-sidebar">-->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-star"></span>CUSTOMER<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a [routerLink]="['customerdetails']">Personal Information</a></li>
    </ul>
  </li>

  <!-- </ul>-->
  <!--<ul class="nav nav-sidebar">-->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-usd"></span>FINANCE<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a [routerLink]="['income']">Income</a></li>
      <li><a [routerLink]="['allexpenses']">Expenses</a></li>
      <li><a [routerLink]="['assets']">Assets</a></li>
      <li><a [routerLink]="['stocks']">Inventory</a></li>
    </ul>
  </li>

  <!--<ul class="nav nav-sidebar">-->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"></span>SERVICE<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a [routerLink]="['issues']">Issues/Maintenance</a></li>
      <li><a [routerLink]="['unistallation']">Uninstallations</a></li>
      <li><a [routerLink]="['switchinglogs']">Switching Logs</a></li>
    </ul>
  </li>

  <!--</ul>-->
  <!--<ul class="nav nav-sidebar">-->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span>TECHNICAL<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a [routerLink]="['addcontroller']">System Controllers</a></li>
      <li><a [routerLink]="['link-controller']">Link Controller</a></li>
    </ul>
  </li>

  <!--</ul>-->
  <!--<ul class="nav nav-sidebar">-->
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-briefcase"></span>SALES<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <li><a [routerLink]="['sales']">Sales</a></li>
    </ul>
  </li>

  <!--</ul>-->
</ul>