
<div class="form-container">
  <a routerLink="/login" id="goback">Go back</a>

  <h2>Join now</h2>

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <input type="text" placeholder="Email address.." name="email" class="form-control" required>
    <input type="password" placeholder="Password" name="password" class="form-control" required>


    <button type="submit" [disabled]="!formData.valid" class="btn btn-primary" >Create my account</button>
  </form>
</div>
