button {
  width:100%;
}


.option_modal{
  /*center it*/
  left: 40%;
  background: #88CBFF;
  display: block;
  position: fixed;
  margin: .3em;
  padding: .5em;
  width: 20em;
  height: auto;
  z-index: 1;
  box-shadow: 0.2em 0.2em #1C6CAB;
}
.paymentsmodal{
  background: #88CBFF;
  display: block;
  position: fixed;
  margin: .3em;
  padding: .5em;
  width: 98%;
  height: auto;
  z-index: 1;
  box-shadow: 0.2em 0.2em #1C6CAB;
  border: solid 0.3em #1C6CAB;
}
.invoice_modal{
  /*center it*/
  left: 25%;
  background: #88CBFF;
  display: block;
  position: fixed;
  margin: .3em;
  padding: .5em;
  width: 50%;
  height: auto;
  z-index: 1;
  box-shadow: 0.2em 0.2em #1C6CAB;
}

.title{
  font-size: large;;
  font-weight: bold;
  color: #953b39;
}
