<app-loading-snipper>
</app-loading-snipper>




<!--OPTIONS HERE -->
<div *ngIf="showOptionsDiv" class="option_modal">
  <button class="btn btn-danger" (click)="OpenPayHistory()"> Statement </button>
  <button class="btn btn-warning" (click)="FshowInvoiceCustomerDiv()"> Invoice Customer </button>
  <button class="btn btn-primary" (click)="showOptionsDiv = !showOptionsDiv"> Cancel </button>
</div>




<!--invoice div -->
<div *ngIf="showInvoiceCustomerDiv" class="invoice_modal">
  <span style="font-size: small; font-style: italic; color: firebrick"> select the item you want to invoice this customer and confirm your action</span> <br>

  <select style="font-size: large;" class="form-control" [(ngModel)]="selectedInvoiceItem">
    <option *ngFor="let item of invoiceItems" [ngValue]="item"> {{item.Item}}</option>
  </select>

  <div class="row">
    <div class="col-md-4 title"> Item </div>
    <div class="col-md-4 title"> Deposit Amount </div>
    <div class="col-md-4 title"> Daily Amount </div>
  </div>

  <div *ngIf="selectedInvoiceItem" style="font-size: large;" class="row">
       <div class="col-md-4"> {{selectedInvoiceItem.Item}}</div>
       <div class="col-md-4"> {{selectedInvoiceItem.Deposit}}</div>
       <div class="col-md-4"> {{selectedInvoiceItem.Amount}}</div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <input type="date" style="font-size: large;" class="form-control" [(ngModel)]="invoiceDate"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-danger" (click)="showInvoiceCustomerDiv = !showInvoiceCustomerDiv"> Cancel </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="showInvoiceCustomerDiv = !showInvoiceCustomerDiv" (click)="invoiceCustomer(selectedInvoiceItem.Item)"> SAVE </button>
    </div>

  </div>
</div>





<div *ngIf="data">
  {{hideloader()}}

  <!--<div class="col-md-2">
              <label class="label-control">Rows on page</label>
              <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="20">20</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                  <option [ngValue]="500">500</option>
              </select>
          </div>
          <div class="col-md-2">
                          <label class="col-xs-12 label-control">Sort by</label>
                          <select class="form-control input-sm" [(ngModel)]="sortBy">
                             <option ngValue ="Name">Name</option>
                             <option ngValue="Percent">Percent</option>
                             <option ngValue="Comment">Comment</option>
                             <option [ngValue]="sortByWordLength">Comment</option>
                          </select>
                  </div>
              <div class="col-md-2">
                      <label class="col-xs-12 label-control">Sort Order</label>
                      <select class="form-control input-sm" [(ngModel)]="sortOrder">
                          <option ngValue="asc">Ascending</option>
                          <option ngValue="desc">Descending</option>
                      </select>
              </div>
          </div>-->

  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <h3> Customer Payments</h3>
        </div>
        <div class="col-md-2">
          <input type="checkbox" [(ngModel)]="focusOnDebt" (click)="focusChange()" />Focus on Debt?
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-warning" (click)="exporttoexcel()">export to excel</button>
        </div>
        <div class="col-md-2">
          <app-texting-modal [Cdata]="data | dataFilter : filterQuery"></app-texting-modal>
        </div>

        <div class="col-md-1">
          <div *ngIf="openModalWindow">
            <app-allpayments [Cdata]="customer_id"></app-allpayments>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <input class="form-control" [(ngModel)]="filterQuery" placeholder="search" (keyup)="changesumgen()" />
        </div>
        <div class="col-md-2">
          Group:
          <select class="form-control input-sm" [(ngModel)]="group" (change)="groupfilter()">
            <option value="below50">below 50%</option>
            <option value="above50">above 50%</option>
            <option value="all">all</option>
          </select>
        </div>
        <div class="col-md-2">
          Installation Status:
          <select class="form-control input-sm" [(ngModel)]="installstatus" (change)="exxc()">
            <option value="active">active</option>
            <option value="inactive">unistalled</option>
            <option value="all">all</option>
          </select>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2">

        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4> <span class="label label-success">Paid {{ (sumAmountInvoiced - sumAmountDebt) | currency:'KSH':true}}</span></h4>
        </div>
        <div class="col-md-4">
          <h4> <span class="label label-info">Invoiced {{ sumAmountInvoiced| currency:'KSH':true}}</span></h4>
        </div>
        <div class="col-md-3">
          <h4> <span class="label label-warning">Not Paid {{sumAmountDebt | currency:'KSH':true}} </span></h4>
        </div>
        <div class="col-md-2">
          <h4> <span class="label label-primary">{{percent}}%  {{debtOrPaid}}</span></h4>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 400px; overflow-y: scroll" class="table table-responsive">
    <table class="table table-striped" [mfData]="data3 | generalFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
           [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
      <thead>
      <tr>
        <th style="width: auto">
          Index
        </th>
        <th style="width: auto">
          <mfDefaultSorter by="Name">Name</mfDefaultSorter>
        </th>
        <th style="width: auto">
          <mfDefaultSorter by="Amount">Paid</mfDefaultSorter>
        </th>
        <th style="width: auto">
          <mfDefaultSorter by="Invoice">Invoiced</mfDefaultSorter>
        </th>
        <th style="width: auto">
          <mfDefaultSorter by="Debt">Debt</mfDefaultSorter>
        </th>
        <th style="width: auto">
          <mfDefaultSorter by="Percent1">{{debtOrPaid}}</mfDefaultSorter>
        </th>
        <th style="width: auto">
          <mfDefaultSorter by="From">From - To</mfDefaultSorter>
        </th>
        <th style="width: auto">
          Invoices
        </th>
        <th style="width: auto">
          Vilage
        </th>
        <th style="width: auto">
          Contacts
        </th>
        <th style="width: auto">
          Switch
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of mf.data; let i = index">
        <tr>
          <td>{{i+1}}</td>
          <td *ngIf="item.Active_status == 'active'" (click)="selectCustomerAndShowOptionsDiv(item.Id)">{{item.Name}}</td>
          <td *ngIf="item.Active_status == 'inactive'" style="background-color: brown; color:white;" (click)="selectCustomerAndShowOptionsDiv(item.Id)">{{item.Name}}</td>
          <td>
            <h5><span class="label label-success">{{item.Amount | currency:'KSH':true}} </span></h5>
          </td>
          <td>
            <h5><span class="label label-info">{{item.Invoice | currency:'KSH':true}} </span></h5>
          </td>
          <td>
            <h5><span class="label label-danger">{{item.Debt | currency:'KSH':true}} </span></h5>
          </td>
          <td>
            <h5><span class="label label-primary">{{item.Percent1}}%  </span></h5>
          </td>
          <td>{{item.From}}-<br>{{item.To}}</td>
          <td class="text-right">{{item.Comment}}</td>
          <td>{{item.Village}}</td>
          <td>{{item.Phone}}</td>
          <td *ngIf="item.Status==1"><button class="btn btn-primary" (click)="toggleSwitch(item.Id)">Toggle</button></td>
          <td *ngIf="item.Status==0"><button class="btn btn-warning" (click)="toggleSwitch(item.Id)">Toggle</button></td>
          <td *ngIf="item.Status==null"><button class="btn btn-error">Toggle</button></td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="12">
          <mfBootstrapPaginator [rowsOnPageSet]="[100,500]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
